<style>
  :host {
    --black: #000;
    --purple-heart: #5c2dd5;
    --electric-vialot: #7945ff;
    --brink-pink: #fd6687;
    --golden-tainoi: #ffce67;
    --white: #fff;

    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
</style>

<h1>Router testing</h1>
<a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page"
  >Main Menu</a
>
--
<a routerLink="/in-game" routerLinkActive="active" ariaCurrentWhenActive="page"
  >In Game</a
>
--
<a routerLink="/rules" routerLinkActive="active" ariaCurrentWhenActive="page"
  >Rules</a
>

<router-outlet />
